# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/sri_tech_db

# Email service settings
EMAIL_USER=your-email@example.com
EMAIL_PASS=your-email-password
OWNER_EMAIL=owner@example.com

# Admin login credentials
ADMIN_USERNAME=thesmgroups@gmail.com
ADMIN_PASSWORD=TSMGPVT@2026
